
TeamGit.Models/obj/Debug/TeamGit.Models.csprojAssemblyReference.cache
.vs/TeamGit/config/applicationhost.config
TeamGit.Data/obj/Debug/TeamGit.Data.csprojAssemblyReference.cache
*.cache
*.config
*.cache
